  $white: #fff;
  $black: #559; /*-- charcoal-navy, really --*/
  $base-color: #03c;

  $link__onlight: #3c9;
  $hover__onlight: #09f;

  $link__onDark: #9f6;
  $hover__onDark: #0cf;

  $body__bgd: #fff;
  $body__p: #559;

  $siteHeader__bgd: #03c;
  $siteFooter__bgd: #03c;


  //
  // Nav colors
//=================================
  $nav__linkColor: #3c9;
  $nav__hoverColor: #09f;
  $nav__linkBgd: #03c;

  $primaryNav__bgd: #03c;
  $primaryNav__link: #fff;

  $secondaryNav__bgd: #090;
  $secondaryNav__link: #fff;

  $submenu__linkBgd: #090;

  //
  // Toggle colors
  //=========================
  $navToggle__bgd: #fff;
  $navToggle__txt: #03c;


