
//
// Nav type
//===============================
$nav__size: 20;
$submenu__size: 20;
$primaryNav__size: 20;

//
// Header
//===============================
$siteTitle__size: 36;
$siteDesc__size: 20;

//
// Footer
//=================================
$siteFooter__size: 20;

//
// Containers
//================================
$body__size: 20;

