/* # Sidebars
---------------------------------------------------------------------------------------------------- */

.sidebar {
  font-size: 16px;
  font-size: 1.6rem;
  margin-bottom: 40px;


 .widget {
  background-color: $body__bgd;
  padding: 40px;
}
}